:root {
    --primary: #008498;
}

.navbar-dark {
    background-color: var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:hover {
    background-color: #025f6d;
    border-color: #025f6d;
}

.modal-header {
    background-color: var(--primary);
    color: #ffffff;
}

.close {
    color: #ffffff;
}